<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}- tasks</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>

	<body>
		<div class="dropdown" style="margin-left: 10;margin-top: 10">
			<button id="subjects" type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">科目
	        	<span class="caret"></span>
		    </button>
		   <button class="btn-primary" data-toggle="modal" data-target="#subject_window">
    		新建科目
    	   </button>
    	   <button class="btn-primary" data-toggle="modal" data-target="#task_window">
    		新建任务
    	   </button>
		    <ul id="sudject_list" class="dropdown-menu fts-menu-content" role="menu" aria-labelledby="dropdownMenu1">
		        {% for subject in subjects %}
		        <li role="presentation">
		            <a id="{{subject.id}}" role="menuitem" tabindex="-1" href="#">{{subject.name}}</a>
		        </li>
		        {% endfor %}
		    </ul>
		</div>
		<div style="margin-top: 10">
			<ul id="task_list" class="list-group">
			    {% for task in tasks %}
			    <li class="list-group-item">{{task.title}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{task.content}}</span></li>
			    {% endfor %}
			</ul>
		</div>
		<!-- 新建科目 -->
		<div class="modal fade" id="subject_window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							新建科目
						</h4>
					</div>
					<div class="input-group">
			            <input id="content" type="text" class="form-control" placeholder="请输入要建的科目" style="width: 500">
			        </div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal">关闭
						</button>
						<button type="button" id="commit_subject" class="commit_subject" data-dismiss="modal">
							提交
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 新建任务 -->
		<div class="modal fade" id="task_window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							新建任务
						</h4>
					</div>
					<div class="input-group">
			            <input id="task_title" type="text" class="form-control" placeholder="请输入任务标题" style="width: 500">
			        </div>
			        <div class="input-group">
			            <input id="task_content" type="text" class="form-control" placeholder="请输入任务内容" style="width: 500; min-height: 100">
			        </div>
			        <div class="input-group">
			            <input id="task_des" type="text" class="form-control" placeholder="请输入任务描述" style="width: 500; min-height: 100">
			        </div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal">关闭
						</button>
						<button type="button" id="commit_task" class="commit_task" data-dismiss="modal">
							提交
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">

		var subject_id = 0;

		//选中科目事件
		$(function () {
	        $(".fts-menu-content li a").click(function () {
	            $(".btn").text($(this).text());
	            subject_id = $(this).attr("id")
	            console.log($(this).attr("id"))

	            url = "http://localhost:5000/todo/api/v1.0/tasks_by_sid?subject_id=" + subject_id
	            $.get(url,function(result, status) {
	            	if ("success" == status) {
	            		console.log(result)
	            		var parentUl = document.getElementById("task_list")
	            		parentUl.innerHTML=''
	            		for (var i = 0; i < result.length; i++){
	            			task = result[i]
	            			var li = document.createElement("li")
	            			li.className = "list-group-item"
	            			li.innerHTML = task.title + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
	            			var span = document.createElement("span")
	            			span.innerHTML = task.content
	            			li.appendChild(span)
	            			console.log(result)
	            			parentUl.appendChild(li)
	            		}
	            	} else{
	            		console.log(status)
	            	}
	            }, "json");
	        });
    	});

		//添加新科目
		$(function () {
			$(".commit_subject").click(function () {
				console.log($("#content").val())

				url = "http://localhost:5000/todo/api/v1.0/add_subject";
				data = {'subject':$("#content").val()}

				$.post(url,data,function(result, status){
					if ('success' == status) {
						console.log(result)
					} else{
						console.log(status)
					}
				},"json");
			});
		});

		//获取所有科目
		$(function() {
			$("#subjects").click(function() {
				console.log("subjects")
				url = "http://localhost:5000/todo/api/v1.0/subjects";
				$.get(url,function(result, status) {
					if ('success' == status) {
						console.log(result)

					} else{
						console.log(status)
					}
				}, "json");
			});
		});

		//添加科目任务
		$(function() {
			$(".commit_task").click(function() {
				console.log("commit_task")

				url = "http://localhost:5000/todo/api/v1.0/add_task"
				data = {
					"project_id":subject_id,
					"title":$("#task_title").val(),
					"content":$("#task_content").val(),
					"des":$("#task_des").val()
				}

				$.post(url,data,function(result, status) {
					if ("success" == status) {
						console.log(result)
					} else{
						console.log(status)
					}
				}, "json")
			});
		});

	</script>
	<script type="text/javascript">
		$(function() {
			    $('#new_window').modal('hide');
			});
	</script>
</html>